/* prof.tsx */
.card-prof {
    transform: translateX(200px);
}


/* Promotion.tsx */

.boxer {
    transform: translateY(999px);
}

/* Plans */

.titlePlans {
    transform: translateY(400px);
    z-index: -1;
}

.textPlans {
    transform: translateY(400px);
    z-index: -1;
}

/* About.tsx */

.titleTime {
    transform: translatex(-999px);
}

.woman {
    transform: translateY(400px);
}

.cardTime {
    transform: translatex(-999px);
}

/* Prof.tsx */
.cardProf {
    transform: translateY(400px);
}

.titleProf{
    transform: translateY(700px);
}

/* FAQ.tsx */
.titleFAQ{
    transform: translateY(300px);
}

.questionFAQ{
    transform: translateX(999px);
}