.hero {
    background-image: url(../assets/background.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


@media only screen and (max-width: 767px) {
    .hero {
        background-image: url(../assets/background2.webp);
        /* Imagem para dispositivos móveis */
    }
}

