@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
p, span {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
*/
h1 {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.bebas{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.space-grotesk {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  /*NAVBAR*/

.menu-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1em;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-bar a,
  .menu-open p,
  .menu-close p {
    cursor: pointer;
  }
  
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100vh;
    padding: 2em;
    background: #000000a5;
    z-index: 30;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  
  .menu-close-icon {
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
  }
  
  .menu-overlay-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  .menu-copy {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4em;
  }
  
  .menu-preview {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  
  .menu-close-icon p {
    font-size: 100px;
    -webkit-text-stroke: 5px #000000a5;
    line-height: 70%;
  }
  
  .menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .menu-link-item-holder {
    position: relative;
  }
  
  .menu-link-item-holder a {
    color: #fde047;
    font-size: 80px;
    letter-spacing: 0.02em;
    line-height: 120%;
  }
  
  .menu-info {
    display: flex;
  }
  
  .menu-info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  @media (max-width: 900px) {
    .menu-close-icon{
      display: none;
    }
    .menu-copy{
      padding-top: 8em;
    }
    .menu-link-item-holder a {
      font-size: 60px;
    }
    .menu-overlay{
      flex-direction: column;
    }
    .menu-preview{
      display: none;
    }
  }